<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AIPulse</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
		<string>zh-Hant-TW</string>
		<string>zh-Hant-HK</string>
		<string>ja</string>
		<string>ko</string>
		<string>de</string>
		<string>fr</string>
		<string>es</string>
		<string>pt-BR</string>
	</array>
</dict>
</plist>
