<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloudKitAccessEnabled</key>
	<string>$(CODE_SIGNING_ALLOWED)</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
		<string>zh-Hant-TW</string>
		<string>zh-Hant-HK</string>
		<string>ja</string>
		<string>ko</string>
		<string>de</string>
		<string>fr</string>
		<string>es</string>
		<string>pt-BR</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>xingyu.wang.aipulse.dashboard</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(AIPULSE_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
